	    .wrap{
	    	margin: auto; max-width: 1000px
	    }
	    img {
	    	width: 100%;
	    	max-height: 300px;
	    }
	    #main-menu {
	    	background-color: #CAE5E8

	    }
	    *{
	    	border-sizing: border-box;
	    	 margin: auto;
	    }
	    #main-menu{
	    	text-align: center;
	    	font-size: 20px;

	    }
	    .box{
	    	border: 2px solid red;
	    	float: left; 
	    	width: 30%;
	    	margin:10px; 
	    	padding-right:34px
	    	max-height: 30px;
	    }
	    #chào {
	    	text-align: center;
	    }
	    .t1 {
	    	color: blue
	    }
	    .t2 {
	    	color: rgb(252,245,76);
	    }	
	    .t3 {
	    	color: rgb(99,91,162);
	    }
	    a{
	    	padding:30px
	    }